<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="login-label">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" action="" method="POST" novalidate>
                    <div class="form-group">
                        <label class="form-control-label sr-only" for="input-username">username</label>
                        <input type="text" class="form-control" id="input-username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label sr-only" for="input-email">password</label>
                        <input type="password" class="form-control" id="input-email" placeholder="password" required>
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-secondary order-2" data-dismiss="modal">Close</button>
                        <button type="submit" class="submit-button btn btn-primary mr-2 order-1">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>